apache-airflow==2.0.1
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-http==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.1
bs4==0.0.1
mysql-connector-python==8.0.22
pymysql==1.0.2
requests==2.25.1
requests-oauthlib==1.1.00